<div>
  <h2>Keyword Decryption</h2>
  <div class="grid-x grid-padding-x align-justify">
  <label for="decodeCipher">Cipher:</label>
  <input class="cell small-4" id="decodeCipher" [(ngModel)]="decodeCipher" >
  <label for="inputDecodeMessage">Message:</label>
  <input class="cell small-4" id="inputDecodeMessage" [(ngModel)] ="inputDecodeMessage">
  <button type="button" (click)="keywordDecode()">Decode</button>
  <div class="answer" *ngIf="decryptedAnswer">
    <p>Your decrypted message is: <b>{{decryptedAnswer}}</b></p>
  </div>
</div>
</div>
